#main-loading{
	background-color:#004f9f;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	width:181px;
	height:266px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/predefined_loading_3.gif');
	background-repeat: no-repeat;
	width:32px;
	height:32px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
